/* Add your styles for login component here */
#login {
    margin-bottom: 20px;
  }
  
  #login input[type="text"],
  #login input[type="password"],
  #login button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }
  
  #login button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  #login button:hover {
    background-color: #0056b3;
  }
  