/* Add your styles for register component here */
#register {
    margin-bottom: 20px;
  }
  
  #register input[type="text"],
  #register input[type="password"],
  #register button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }
  
  #register button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  #register button:hover {
    background-color: #0056b3;
  }
  