/* Add your styles for cart component here */
#cart {
    margin-bottom: 20px;
  }
  
  #cart button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 5px;
  }
  
  #cart button:hover {
    background-color: #0056b3;
  }
  